# SPDX-License-Identifier: Apache-2.0

config BOARD_BES2700YP_DEVKIT
	select SOC_BES2700YP_CM55 if BOARD_BES2700YP_DEVKIT_BES2700YP_CM55
	select SOC_BES2700YP_BTH if BOARD_BES2700YP_DEVKIT_BES2700YP_BTH
