# SPDX-License-Identifier: Apache-2.0

if SOC_BES2700YP_CM55

config NUM_IRQS
	default 72

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default $(dt_node_int_prop_int,/cpus/cpu@0,clock-frequency) if CORTEX_M_SYSTICK

config MAIN_STACK_SIZE
	default 2048

endif # SOC_BES2700YP_CM55

if SOC_BES2700YP_BTH

config NUM_IRQS
	default 64

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default $(dt_node_int_prop_int,/cpus/cpu@0,clock-frequency) if CORTEX_M_SYSTICK

endif
