# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_BESTECHNIC_BES
	bool

config SOC_FAMILY
	default "bestechnic_bes" if SOC_FAMILY_BESTECHNIC_BES

config SOC_SERIES_BES2700
	bool
	select SOC_FAMILY_BESTECHNIC_BES

config SOC_SERIES
	default "bes2700" if SOC_SERIES_BES2700

config SOC_BES2700YP
	bool
	select SOC_SERIES_BES2700

config SOC_BES2700YP_CM55
	bool
	select SOC_BES2700YP

config SOC
	default "bes2700yp" if SOC_BES2700YP

config SOC_BES2700YP_BTH
	bool
	select SOC_BES2700YP
